@model IEnumerable<BlogMVC.Models.UrunModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ürün Listesi</h2>

@*<div class="row">*@

@*@foreach (var item in Model)
    {
        <div class="urun">
            <h3 class="page-header">
                @item.Baslik
            </h3>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                @item.EklenmeTarihi
            </p>
            <hr />
            <img class="img-responsive" src="http://placehold.it/900x300" alt="" />
            <hr />
            <p>
                @item.Aciklama
            </p>
            @Html.ActionLink("Devamı...", "Details", "Product", new { id = item.Id }, new { @class = "btn btn-success" })
            @*<button class="btn btn-primary">Devamı...</button>*@
@*</div>
    }*@

@*<div class="col-md-4"></div>  aşağısı 4 lük kısım oluyor yukaırısı 8 lik kısım oluyor*@



@Html.Partial("UrunListesi", Model)

@section SagKolon
        {


    @Html.Partial("Arama")

    @{Html.RenderAction("KategoriListesi", "Categori"); }

}

@*</div>*@
